/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass-mixins";

$primary-color: hsla(0,45%,50%,1);

$step-one: 33px;
$step-two: 66px;
$step-three: 100px;

@mixin keyFrames($animation-name) {
  @-webkit-keyframes #{$animation-name} {   @content; }
  @-moz-keyframes #{$animation-name} {  @content; }
  @keyframes #{$animation-name} {  @content; }
}




#a {}
#b {
  animation-delay: 4s;
}
#c {
  animation-delay: 8s;
}

#d {
  animation-delay:12s;
}

#e {
  animation-delay:16s;
}

#f1{
}

.token {
  display: inline-block;
  position: relative;
  margin: 50px;
  width: 50px;  
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

@media screen and (max-width: 600px) {
  .token {
    margin: 10px;
  }
}

.token:before {
  position: relative;
  left: 50%;
  margin-left: -8px;
  top: 87%;
  content: "";
  display: inline-block;
  border-top: 8px solid black; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.token#f2:before {
  top: -29%;
  border-bottom: 8px solid black; 
  border-top: 8px solid transparent;
}

.stage.handToHand > section > #f2:before {
  top: 101%;
  border-top: 8px solid black; 
  border-bottom: 8px solid transparent; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.stage.faceToFace > section > #f1 {
  position: relative;
  left: 150px;
}

.stage.faceToFace > section > #f1:before {
  top: 39%;
  left: -7px;
  border-top: 8px solid transparent; 
  border-bottom: 8px solid transparent; 
  border-left: 8px solid transparent;
  border-right: 8px solid black;
}

.stage.faceToFace > section > #f2:before {
  top: 39%;
  left: 57px;
  border-top: 8px solid transparent; 
  border-bottom: 8px solid transparent; 
  border-left: 8px solid black;
  border-right: 8px solid transparent;
}

.stage.downToUp > section > #f2:before {
  top: 101%;
  display: inline-block;
  border-top: 8px solid black; 
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.stage.downToUp > section > #f2 {
  position: relative;
  top: 60px;
  left: 78px;
}


